* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    background-color: black;
}

h1 {
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcoral;
    padding: 5rem;
	border-radius: 10px;
    box-shadow: 0 0 10px lightcoral;
}

input {
    margin: 1rem;
}

input[type="submit"] {
    padding: 1rem;
	border-radius:10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease-out 0.3s;
}

input[type="number"] {
    padding: 0.5rem;
	border-radius:10px;
    border: none;
    width: 30%;
	transition: ease-out 0.1s;
}

input[type="number"]:focus {
    outline: 3px solid rebeccapurple;
}

select {
	border-radius: 10px;
    padding: 0.5rem;
    width: 50%;
	border: none;
	transition: ease-out 0.1s;
}
select:focus {
	outline: 3px solid rebeccapurple;
}

option {
	background-color: white;
	color: black;
}

input[type="submit"]:hover {
    background-color: rebeccapurple;
    box-shadow: 0 0 10px rebeccapurple;
    transform: scale(1.1);
}

input[type="submit"]:active {
    transform: scale(0.9);
}
